*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

html {
	height: 100%;
}


body{
	height: 100%;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background: #0b76cc;
}


.table__gorizont {
	display: block;
}

.table__vertical {
	display: none;
}


.back__to__top{
	position: fixed;
	right: 2%;
	bottom: 3%;
	width: 35px;
	height: 35px;
	border: 2px solid #fff;
	border-radius: 10px;
	background: #0b76cc;
	z-index: 100;
	display: none;
}

.back__to__top:hover {
	transition: all 0.2s ease;
	box-shadow: 1px 1px 10px 0 #000;
}

.back__to__top::before, 
.back__to__top::after {
	content:'';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);	
}

.back__to__top::before {
	width: 4px;
	height: 15px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background-color: #fff;
}
.back__to__top::after {
	width: 12px;
	height: 12px;
	transform: translate(-50%, -50%) rotate(45deg);
	border-top: 3px solid #fff;
	border-left: 3px solid #fff;
}


::-webkit-scrollbar {
  width: 6px; 
   background-color: rgba(0,0,0,0);
  -webkit-border-radius: 80px;
}
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0,0,0,0.61);
  -webkit-border-radius: 80px;
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0,0,0,0.61);
  -webkit-border-radius: 80px;
}

.text__bold {
	font-size: 30px;
}

.margintop,
.marginbotom {
	height: 5%;
}

.container {
	width: 90%;
	max-width: 1400px;
	margin: 0 auto;
}
.wrapper {
	width: 90%;
	min-height: 90%;
	display: flex;
	flex-direction: column;
	background: #e8e8e8;
	margin: 0 auto;
	border-radius: 30px;
	box-shadow: 1px 1px 27px 0 #000;
}
.contentmain {
	flex: 1 1 auto;
}
.link__ism,
.mainbodycontakt__text a {
	color: #0d87e9;
}
.link__ism:hover,
.mainbodycontakt__text a:hover{
	text-decoration: underline;
	text-shadow: 1px 1px 40px #0b76cc;
	transition: all 0.3s ease;
}
.link__ism:active,
.mainbodycontakt__text a:active{
	color: #0b76cc;
	position: relative;
	left: 1px;
	top: 1px;
}

.tab-15 a {
	text-align: center;
	padding: 5px;
	border-radius: 10px;
	background: #2196f3;
	color: #ffffff;
}
.tab-15 a:hover {
	background: #0d87e9;
	box-shadow: 1px 1px 10px 0 #0b76cc;
	transition: all 0.3s ease;
	border: 2px solid #fff;
}
.tab-15 a:active {
	position: relative;
	left: 1px;
	top: 1px;
}

.maintop {
padding: 25px 0 0 0;
}
.maintop__row {
	display: flex;
	justify-content: space-between;
}

.maintop__logoism img:active,
.maintop__logoatlant img:active{
	position: relative;
	left: 1px;
	top: 1px;
}

.maintop__logoism img {
	border-radius: 50%;
	box-shadow: 1px 1px 7px 0 #000;
	height: 110px;
}

.maintop__logoatlant img{
	border-radius: 15px;
	height: 110px;
	margin: 0px 0px 5px 0;
	box-shadow: 1px 1px 7px 0 #000;
}
.maintop__logoatlant img:hover{
	box-shadow: 1px 1px 10px 0 #f00;
	transition: all 0.5s ease;
}

.navmenu {
	text-align: center;
	margin: 	0px auto;
}
.navmenu ul li{
	display: inline;
}

.navmenu a,
label {
	text-align: center;
	text-transform: uppercase;
	background: #2196f3;
	color: #ffffff;
}

.navmenu a {
	display: inline-block;	
	width: 200px;
	font-size: 18px;
	padding: 10px 0 10px 0;
	border-radius: 10px;
	margin: 10px 5px 10px 5px;
	box-shadow: 1px 1px 7px 0 #000;
   text-shadow: 0.5px 0px 0px #fff;
}

label {
	display: block;
   width: 160px;	
	font-size: 16px;
   padding: 10px;
   border-radius: 8px;
   margin: 5px;
   cursor: pointer;
   box-shadow: 1px 1px 7px 0 #000;
   text-shadow: 0.5px 0px 0px #fff;
}

.navmenu a:hover,
label:hover {
	background: #0d87e9;
	box-shadow: 1px 1px 7px 0 #0b76cc;
	transition: all 0.3s ease;
}
.navmenu a:active,
label:active {
	background: #0b76cc;
	position: relative;
	left: 1px;
	top: 1px;
}

.mainbody__h1 {
	font-size: 28px;
	text-align: center;
	letter-spacing: 4px;
	line-height: 45px;
 	margin: 5px 0px 5px 0px;
 	text-transform: uppercase;
}

.mainbody__text {
	line-height: 35px;
	font-size: 22px;
	text-align: justify;
	margin: 20px 0 0 0; 
}

.mainbody__text p{
	margin: 0 0 15px 0;
}

.footer__row {
	display: flex;
	height: 60px;
	justify-content: center;
	align-items: center;
}
.footer__text {
	text-align: center;
	line-height: 20px;
	font-size: 11px;
}

.mainbodycontakt__text {
	text-align: center;
	font-size: 20px;
	line-height: 35px;
}

.mainbodycontakt__text img {
	width: 35px;
	height: 35px;
	margin: 4px 0 0 0;
	vertical-align: center;
}

.mainbodycontakt__text a {
	line-height: 40px;
}

.mainbodycontakt__text h2 {
	font-weight: bold;
	margin: 20px 0 0 0;
	font-size: 22px;
	line-height: 40px;
}
.mainbodycontakt__moskow {
	margin: 0 0 0 17px;
}
.mainbodycontakt__mts {
	margin: 0 0 0 80px;
}

.VB__MB {
	display: none;
}

.mainbody__row2{
	text-align: center;
   width: 100%;
   margin: 20px auto 0 auto;
   position: relative;

}
.mainbody__chekboxp {
	text-align: center;
	font-size: 16px;
   padding: 10px 10px;
   border-radius: 8px;
   margin: 5px;
   width: 160px;
   text-transform: uppercase;
   box-shadow: 1px 1px 7px 0 #000;
	text-shadow: 0px 1px 0px #000;
}

input {
	display: none;
}

input:checked + label {
	text-decoration: underline;

}

input[id="tab-3"]:checked ~ .mainbody__rowbody .tab-3,
input[id="tab-4"]:checked ~ .mainbody__rowbody .tab-4,
input[id="tab-5"]:checked ~ .mainbody__rowbody .tab-5,
input[id="tab-6"]:checked ~ .mainbody__rowbody .tab-6,
input[id="tab-7"]:checked ~ .mainbody__rowbody .tab-7,
input[id="tab-8"]:checked ~ .mainbody__rowbody .tab-8,
input[id="tab-9"]:checked ~ .mainbody__rowbody .tab-9,
input[id="tab-10"]:checked ~ .mainbody__rowbody .tab-10,
input[id="tab-11"]:checked ~ .mainbody__rowbody .tab-11,
input[id="tab-12"]:checked ~ .mainbody__rowbody .tab-12,
input[id="tab-13"]:checked ~ .mainbody__rowbody .tab-13,
input[id="tab-14"]:checked ~ .mainbody__rowbody .tab-14,
input[id="tab-15"]:checked ~ .mainbody__rowbody .tab-15,
input[id="tab-16"]:checked ~ .mainbody__rowbody .tab-16,
input[id="tab-17"]:checked ~ .mainbody__rowbody .tab-17,
input[id="tab-18"]:checked ~ .mainbody__rowbody .tab-18 {
	display: block;
}

.mainbody__rowbody {
	margin: 0px auto;
	position: absolute;
   top: 0;
   left: 180px;
   width: 86%;
}	

.mainbody__manager{
	position: relative;
   top: 0;
   left: 93px;
   margin-top: -488px;
}

.mainbody__rowbody h2{
	width: 80%;
	font-size: 28px;
	line-height: 50px;
	text-transform: uppercase;
	margin: -30px 0 0 0;
}	

.mainbody__rowbodytext{
	font-size: 22px;
	line-height: 30px;
}
.mainbody__rowbodytext p{
	text-align: justify;
	margin: 0px 0 20px 0;
	text-indent: 35px;
}

.mainbody__rowbodytext h3{
	text-align: center;
	letter-spacing: 4px;
	text-transform: uppercase;
	margin: 20px 0px 20px 0px;
}

.mainbody__rowbodytext h3:first-child{
	margin: -15px 0 20px 0;
}

.mainbody__rowbodytext li {
	text-align: justify;
	margin: 15px 0 15px 30px;
}

.mainbody__rowbodytextli li:before{
	content: '';
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 1px solid #000;
	background: #0d87e9;
	display: inline-block;
	margin: 0px 10px 1px 0px;
}

.mainbody__rowbodytextli li:after{
	content: ';';
	color: #000;
}

.mainbody__rowbodytextli li:last-child::after{
	content: '.';
}

.mainbody__rowbodytext img{
	border-radius: 15px;
	margin: 0 auto;
	width: 70%;
	margin: 0 0 20px 0;
}

.mainbody__tp img {
	width: 50%;
}

.mainbody img:hover {
	cursor: pointer;

}
.mainbody__manager img:active,
.mainbody__tp img:active{
	width: 100%;
}

.mainbody__rowbodyli li{
	background: url('../img/icon/symbol_blue.png') left no-repeat;
	padding: 0 0 0 35px;
}

.mainbody__tp {
	position: relative;
   top: 0;
   left: 91px;
   margin-top: -748px;
}

.mainbody__indexbody {
	width: 70%;
	margin: 0 auto;
}

.mainbody__index li{
	margin: 15px 0 15px 70px;
}

.mainbody__liststage1 {
	color: red;
	margin: 0 0 0 10px;
}
.mainbody__liststage1 span{
	color: #000;
}

.mainbody__liststage1 li:before{
	content: none;
}

.mainbody__liststage2 li{
		margin: 15px 0 15px 50px;
}

.mainbody__liststage2 li:before{
	content: '';
	width: 12px;
	height: 6px;
	border-radius: 0;
	border: 1px solid #000;
	display: inline-block;
	margin: 0 10px 4px 0;
}

.mainbody__listsblack {
	color: #000;
}
.mainbody__listsblack li:before{
	content: none;
}

.mainbody__index li:after{
	content: ';';
}

.mainbody__index li:last-child::after{
	content: '.';
}

article {
	width: 100%;
	margin: 0px;
	padding: 10px 0px;
	display: none;
}

table {
	margin: -17px auto 0 auto;
	text-align: center;
	font-size: 16px;
	width: 85%;
   border-spacing: 3px;
}

td, th {
	border-radius: 5px;
	border: 1px solid #000;
	box-shadow: 0px 3px 5px 0 #000;
   padding: 10px;
}
td {
	font-weight: 600;
}
th {
	text-align: left;
}
.napravlenie {
	text-transform: uppercase;
	font-size: 26px;
	font-weight: 400;
	background: #2196f3;
	color: #fff;
	width: 100%;
}

.red__text {
	color: red;
	font-weight: bold;
}

.max__img img {
	width: 90%;
}

.pustota {
	height: 550px;
}

@media only screen and (min-width: 1101px) and (max-width: 1400px) {
	.mainbody__h1 {
	font-size: 26px;
	line-height: 40px;
	}
	.mainbody__rowbody h2{
	font-size: 26px;
	line-height: 35px;
	}
	.mainbody__rowbodytext {
		font-size: 20px;
	}
	.maintop__logoism img,
	.maintop__logoatlant img {
		height: 95px;
	}

	.navmenu a {
		width: 160px;
		font-size: 16px;
	}

	.mainbody__chekboxp {
		font-size: 16px;
	   width: 140px;
	}

	label {
		font-size: 15px;
	   width: 140px;
	}
	.mainbody__rowbody {
   width: 79%;
   left: 160px;
	}

	.mainbody__manager{
   	margin-top: -511px;
	   left: 57px;
	}
	.mainbody__tp {
	   left: 58px;
	   margin-top: -792px;
	}
	table {
		font-size: 15px;
	}
	.napravlenie {
	font-size: 22px;
	}
	.margintop,
	.marginbotom {
		height: 4%;
	}
	.wrapper {
	min-height: 92%;
	}
	.pustota {
	height: 590px;
	}
	.back__to__top{
	width: 45px;
	height: 45px;
	}
}

@media only screen and (min-width: 981px) and (max-width: 1100px) {
	.table__gorizont {
		display: none;
	}

	.table__vertical {
		display: block;
	}
	.table__vertical td {
		width: 50%;
	} 

	.mainbody__h1 {
	font-size: 24px;
	line-height: 35px;
	}
	.mainbody__rowbody h2{
	font-size: 24px;
	line-height: 30px;
	}
	.mainbody__rowbodytext {
		font-size: 18px;
	}
	.maintop__logoism img,
	.maintop__logoatlant img {
		height: 85px;
	}
	.navmenu a {
		width: 140px;
		font-size: 14px;
	}
	.mainbody__chekboxp {
		font-size: 14px;
	   width: 120px;
	}
	label {
		font-size: 14px;
	   width: 120px;
	}
	.mainbody__rowbody {
   left: 140px;
   width: 80%;
	}
	.mainbody__manager{
		margin-top: -502px;
	   left: 52px;
	}
	.mainbody__tp {
	   left: 52px;
	   margin-top: -776px;
	}
	table {
		font-size: 14px;
	}
	.napravlenie {
	font-size: 18px;
	}
	.margintop,
	.marginbotom {
		height: 3%;
	}
	.wrapper {
	min-height: 94%;
	}
	.pustota {
	height: 570px;
	}
	.back__to__top{
	width: 55px;
	height: 55px;
	}

	.VB__PC {
		display: none;
	}
	.VB__MB {
		display: inline;
	}
	.mainbodycontakt__text img {
		width: 55px;
		height: 55px;
	}
	.mainbodycontakt__text {
		line-height: 60px;
	}
	.mainbodycontakt__mts {
		margin: 0 0 0 120px;
	}
}

@media (max-width:980px) {
	.table__gorizont {
		display: none;
	}

	.table__vertical {
		display: block;
	}
	.table__vertical td {
		width: 50%;
	} 


	.VB__PC {
		display: none;
	}
	.VB__MB {
		display: inline;
	}

	.mainbodycontakt__text img {
		width: 65px;
		height: 65px;
	}
	.mainbodycontakt__text {
		line-height: 70px;
	}

	.mainbodycontakt__mts {
		margin: 0 0 0 140px;
	}

	.mainbody__h1 {
	font-size: 20px;
	line-height: 30px;
	}
	.mainbody__rowbody h2{
	font-size: 20px;
	line-height: 30px;
	}
	.mainbody__rowbodytext {
		font-size: 16px;
	}
	.maintop__logoism img,
	.maintop__logoatlant img {
		height: 75px;
	}
	.navmenu a {
		width: 130px;
		font-size: 12px;
	}
	.mainbody__chekboxp {
		font-size: 12px;
	   width: 100px;
	}
	label {
		font-size: 12px;
	   width: 100px;
	}
	.mainbody__rowbody {
   	left: 120px;
   	width: 80%;
	}
	.mainbody__manager{
	   margin-top: -468px;
	   left: 35px;
	}
	.mainbody__tp {
	   left: 35px;
	   margin-top: -748px;
	}
	table {
		font-size: 13px;
	}
	.napravlenie {
	font-size: 14px;
	font-weight: 600;
	}
	.margintop,
	.marginbotom {
		height: 2%;
	}
	.wrapper {
	min-height: 96%;
	}
	.mainbody__rowbodytextli li:before{
	width: 10px;
	height: 10px;
	margin: 0px 10px 0px 0px;
	}
	.back__to__top{
	width: 65px;
	height: 65px;
	}
}